body, div, p, ul, li, input, h1, h2, h3, h4, table, th, tr, td {
    margin: 0;
    padding: 0;
}
.dj_pop {
    font: 14px/1.5 "Microsoft YaHei",Tahoma,simsun;
    color: #333;
    text-align: left;
}
.dj_pop a {
    text-decoration: none;
    blr: expression(this.onFocus=this.blur());
    outline: none;
    color: #333;
}
.dj_pop_alert {
    width: 380px;
    background: #fff;
    border-radius: 3px;
    z-index: 999;
}
.dj_hd {
    background: #f5f5f5;
    height: 50px;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    font: 16px/50px Microsoft YaHei;
    padding: 0 15px 0 20px;
}
.dj_hd h4 {
    float: left;
    font-weight: 800;
}
.dj_bt_close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.dj_bt_close s {
    display: block;
    width: 14px;
    height: 14px;
    overflow: hidden;
    background: url(//ossweb-img.qq.com/images/daoju/mall/dialog/bt_close.png) no-repeat;
    margin: 8px 0 0 8px;
}
.pb20 {
    padding-bottom: 20px;
}
.dj_pop_alert p {
    padding: 10px 20px;
}
.dj_pop .dj_bt_buy {
    display: block;
    width: 130px;
    height: 38px;
    font: 800 16px/38px Microsoft YaHei;
    color: #fff;
    background: #f74a4a;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
}
.dj_plk{
    display: none;
    visibility: visible;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -190px;"
}