<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.lol.product.dao.ProductDetailDao">
    <resultMap id="productMap" type="edu.nf.lol.product.entity.Product">
        <id  property="productId" column="product_id"/>
        <result property="productTypeId" column="product_type_id"/>
        <result property="productName" column="product_name"/>
        <result property="productCreateTime" column="product_create_time"/>
        <result property="productUpdateTime" column="product_update_time"/>
        <result property="productMainImage" column="product_main_image"/>
        <result property="productParticular" column="product_particular"/>
        <result property="productWeight" column="product_weight"/>
        <result property="productAttribute" column="product_attribute"/>
        <result property="productState" column="product_state"/>
        <association  property="productType" resultMap="productTypeMap"/>
        <collection property="productImageList" resultMap="productImageMap"/>
    </resultMap>
    <resultMap id="productTypeMap" type="edu.nf.lol.product.entity.ProductType">
       <id property="productTypeId" column="product_type_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="productTypeName" column="product_type_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="productState" column="product_state"/>
    </resultMap>
    <resultMap id="productImageMap" type="edu.nf.lol.product.entity.ProductImage">
        <id property="imageId" column="image_id"/>
        <result property="imageName" column="image_name"/>
        <result property="attributeCreateTime" column="attribute_create_time"/>
        <result property="attributeUpdateTime" column="attribute_update_time"/>
    </resultMap>
    <select id="productDetail" resultMap="productMap" parameterType="edu.nf.lol.product.entity.Product">
SELECT pf.product_id,pf.product_type_id,pf.product_name,pf.product_create_time,pf.product_update_time,pf.product_main_image,pf.product_particular,pf.product_weight,pf.product_attribute,pf.product_state,pm.image_name FROM  product_info pf LEFT JOIN product_image pm on pf.product_id=pm.product_id WHERE pf.product_id=#{productId}
      </select>
</mapper>